/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --background-color: #333333;
   --text-color: #D3D3D3;
   --highlight-color: #9B59B6; /*Amethyst purple*/
   --accent-color: #2ECC71; /*Emerald green*/ 
}

body {
    box-sizing: border-box;
    background-color: var(--background-color) ;
    font-family: 'Raleway';
    font-size: 1rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--highlight-color);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

section {
    width: 80%;
    margin: 4rem auto;
}

/*Sección Menu*/

section.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--highlight-color);
}

.menu__title {
    font-size: 2rem;
}

.menu nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.menu__list__item {
    font-size: 1.1rem;
}

.menu__list__item a {
    color: var(--accent-color);
}

.menu__list__item__contato {
    display: none;
}

/*Sección Title*/

.title__div {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 3rem;
}

.title__profile {
    max-height: 300px;
    max-width: 300px;
}

.title__bio {
    font-size: 2rem;
}

.title__subsection {
    font-weight: normal;
}

.title__network {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    gap: 2rem;
}

.title__network__item a {
    display: flex;
    align-items: center;
}

/*Sección About*/

.about__title {
    font-size: 1.8rem;
}

.about__paragraph {
    font-size: 1.1rem;
    max-width: 80%;
}

/* Seccion Skills */

section.skills {
    display: flex;
    flex-flow: column nowrap;
}

.skills__title {
    font-size: 1.8rem;
    text-align: center;
}

.skills__line {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.skills__box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 120px;
    width: 150px;
    background-color: var(--text-color);
}

.skills__box ul {
    margin: 1rem;
    padding: 0;
}

.skills__img {
    margin-bottom: 0.5rem;
}

.skills__img__icon {
    color: var(--highlight-color);
}

.skills__img__image {
    /* color: var(--accent-color); */
    width: 32px;
    height: 32px;
}

.skills__name {
    color: var(--highlight-color);
}

/*Sección Hobbies*/

section.hobbies{
    display: flex;
    flex-flow: column nowrap;
}

.hobbies__title {
    font-size: 1.8rem;
    text-align: center;
}

.hobbies__line {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.hobbies__box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 120px;
    width: 150px;
    background-color: var(--text-color);
}

.hobbies__box ul {
    margin: 1rem;
    padding: 0;
}

.hobbies__img {
    margin-bottom: 0.5rem;
}

.hobbies__img__icon {
    color: var(--highlight-color);
}

.hobbies__name {
    color: var(--highlight-color);
}
/* Experiencia Académica*/

section.academic {
    display: flex;
    flex-flow: column nowrap;
}

.academic__title {
    font-size: 1.8rem;
    text-align: center;
}

.academic__courses {
    display: flex;
    justify-content: space-evenly;
}

.academic__courses__box {
    width: 30%;
}

.academic__courses__list {
    margin: 0;
    padding: 0;
}

.academic__courses__item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding: 1rem;
    background-color: #0A0A23;
}

#alura-one {
    background-color: #FEFEFE;
}

.academic__courses__item__img img {
    max-width: 100%;
}
/* experiencia*/

section.experience {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.experience__section__title {
    align-self: center;
    font-size: 1.8rem;
}

.experience__box {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 3rem;
    margin: 3rem auto;
}

.experience__box__reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    margin: 3rem auto;
}

.experience__img {
    max-width: 66%;
}

.experience__title {
    font-weight: 600;
}

.experience__text {
    font-weight: 400;
}

.experience__description {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.experiencia__botao--repo {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
}

.experience__botao--demo {
    color: var(--highlight-color);
    border: 3px solid var(--highlight-color);
}

.experiencia__botao--repo, .experience__botao--demo {
    min-width: 120px;
    min-height: 60px;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1.2rem;
}

/*Contacto*/

section.formcontato{
    width: 100%;
}

.formcontato__contacto {
    display: flex;
    gap: 1rem;
}

.formcontato--esquerda {
    width: 50%;
}

.formcontato__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.formcontato__title {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
}

.formcontato__subtext {
    margin: 0.5rem 0;
}

.formcontato__form {
    margin-top: 1rem;
    gap: 1rem;
}

.formcontato__input {
    display: flex;
    height: 1rem;
    width: 90%;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

.formcontato__input:focus {
    border-bottom: 2px solid var(--highlight-color);
}

.formcontato__input:focus::placeholder {
    color: var(--highlight-color);
    font-size: 0.8rem;
}

.formcontato__textarea {
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
}

.formcontato__botao {
    display: flex;
    color: var(--text-color);
    background-color: var(--highlight-color);
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border: none;
}
/*footer*/

section.footer {
    border-top: 1px solid var(--accent-color);
}

.footer__rodape {
    font-size: 1rem;
    text-align: center;
    color: var(--accent-color);
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Mobile*/
@media only screen and (min-width: 425px) and (max-width: 1200px){

    section {
        width: auto;
        margin: 2rem auto;
    }

/*Menu*/

    section.menu {
        margin: 0 1rem;
        justify-content: space-between;
    }

    .menu__title {
        font-size: 1.5rem;
    }

    .menu__list {
        display: none;
    }

    .menu__list__item__contato {
        display: flex;
    }
/*Titulo*/
    section.title {
        display: flex;
    }

    .title__div {
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 0 1rem;
        gap: 1rem;
    }

    .title__profile {
        width: 25%;
    }

    .title__bio {
        font-size: 1.5rem;
    }

    .title__network {
        gap: 1rem;
        flex-wrap: wrap;
    }

/*Sección sobre mi*/

    .about__container {
        padding: 0 1rem;
    }

    .about__title {
        font-size: 1.5rem;
    }

    .about__paragraph {
        max-width: 100%;
    }

/*Skills*/

    .skills__title {
        font-size: 1.5rem;
    }

    .skills__line {
        flex-flow: column wrap;
        align-items: center;
        max-height: 500px;
        align-content: center;
    }

    .skills__box {
        width: 160px;
        height: 120px;
    }

/*Hobbies*/

    .hobbies__title {
        font-size: 1.5rem;
    }

    .hobbies__line {
        flex-flow: column wrap;
        align-items: center;
        max-height: 500px;
        align-content: center;
    }

    .hobbies__box {
        height: 120px;
        width: 160px;
    }
 
/*Formación Académica*/

    .academic__title {
        font-size: 1.5rem;
    }

    .academic__courses {
        flex-flow: column nowrap;
        align-items: center;
    }

    .academic__courses__box {
        width: 80%;
    }

    .academic__courses__item__img {
        height: 150px;
    }

/*Experiencia Profesional*/

    .experience__section__title {
        font-size: 1.5rem;
    }

    .experience__box, .experience__box__reverse {
        flex-flow: column nowrap;
        box-sizing: border-box;
        align-items: center;
        margin: 0;
        padding: 1rem;
        gap: 1rem;
    }

    .experience__img {
        max-width: 100%;
    }

 /*Contacto*/

    .formcontato__title {
        font-size: 1.5rem;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__text {
        padding: 1rem;
    }

/*Footer*/

    section.footer {
        margin: 1rem auto 0;
    }

}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1200px){

    /* Menú */
    
    section.menu {
        margin: 0 2rem;
    }
    
    /* Title */

    .title__div {
        flex-flow: row-reverse nowrap;
        align-items: center;
        padding: 0 2rem;
    }

    /* About me */

    .about__container {
        padding: 0 2rem;
    }
    
    /*Skills*/

    .skills__line {
        flex-flow: row wrap;
        column-gap: 2rem;
    }

    .skills__box {
        width: 225px;
    }
    
    /*Hobbies*/

    .hobbies__line {
        flex-flow: row wrap;
        column-gap: 2rem;
    }

    .hobbies__box {
        width: 225px;
    }
    
    /*Formación Académica*/

    .academic__courses {
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .academic__courses__box {
        width: 30%;
    }
    
    /*Experiencia Profesional*/

    section.experience {
        align-items: center;
    }

    .experience__box, .experience__box__reverse {
        width: auto;
        align-items: flex-start;
    }

    /* Contacto */

    section.formcontato {
        width: auto;
        margin: 2rem;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__img {
        display: none;
    }

    .formcontato__input {
        width: 100%;
    }

    .formcontato__textarea {
        width: 100%;
    }

    /* Footer */

    section.footer {
        margin-top: 2rem;
    }
    
    }