/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --background-color: #333333;
   --text-color: #D3D3D3;
   --highlight-color: #9B59B6; /*Amethyst purple*/
   --accent-color: #2ECC71; /*Emerald green*/ 
}

body {
    box-sizing: border-box;
    background-color: var(--background-color) ;
    font-family: 'Raleway';
    font-size: 1rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--highlight-color);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

section {
    width: 80%;
    margin: 4rem auto;
}

/*Sección Menu*/

section.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.menu__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--highlight-color);
}

.menu__title {
    font-size: 1.5rem;
}

.menu nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.menu__list__item a {
    color: var(--accent-color);
}

/*Sección Title*/

.title__div {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 3rem;
}

.title__bio {
    font-size: 2rem;
}

.title__network {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    gap: 2rem;
}

.title__network__item a {
    display: flex;
    align-items: center;
}

/*Sección About*/

.about__title {
    font-size: 1.5rem;
}

.about__paragraph {
    max-width: 70%;
}

/* Seccion Skills */

section.skills {
    display: flex;
    flex-flow: column nowrap;
}

.skills__title {
    font-size: 1.5rem;
    text-align: center;
}

.skills__line {
    display: flex;
    justify-content: center;
}

/*Sección Hobbies*/

section.hobbies{
    display: flex;
    flex-flow: column nowrap;
}

.hobbies__title {
    font-size: 1.5rem;
    text-align: center;
}

.hobbies__line {
    display: flex;
    justify-content: center;
}
/* Experiencia Académica*/

section.academic {
    display: flex;
    flex-flow: column nowrap;
}

.academic__title {
    font-size: 1.5rem;
    text-align: center;
}

.academic__courses {
    display: flex;
    justify-content: center;
}
/* experiencia*/

section.experience {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.experience__section__title {
    align-self: center;
}

.experience__box {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 3rem;
    margin: 3rem;
}

.experience__box:nth-child(odd) {
    flex-direction: row-reverse;
}

.experience__img {
    max-width: 66%;
}

.experience__title {
    font-weight: 600;
}

.experience__text {
    font-weight: 400;
}

.experience__description {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.experiencia__botao--repo {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
}

.experience__botao--demo {
    color: var(--highlight-color);
    border: 3px solid var(--highlight-color);
}

.experiencia__botao--repo, .experience__botao--demo {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1.2rem;
}

/*Contacto*/

section.formcontato{
    width: 100%;
}

.formcontato__contacto {
    display: flex;
    gap: 1rem;
}

.formcontato--esquerda {
    width: 50%;
}



.formcontato__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.formcontato__title {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.formcontato__subtext {
    margin: 0.5rem 0;
}

.formcontato__form {
    margin-top: 1rem;
    gap: 1rem;
}

.formcontato__input {
    display: flex;
    height: 1rem;
    width: 90%;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

.formcontato__input:focus {
    border-bottom: 2px solid var(--highlight-color);
}

.formcontato__input:focus::placeholder {
    color: var(--highlight-color);
    font-size: 0.8rem;
}

.formcontato__textarea {
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
}

.formcontato__botao {
    display: flex;
    color: var(--text-color);
    background-color: var(--highlight-color);
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border: none;
}
/*footer*/

.footer__rodape {
    font-size: 1rem;
    text-align: center;
    color: var(--accent-color);
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}